body {
    color: black;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
}

.title {
    font-size: 45px;
    background-color: white;
    font-weight: 600;
    padding: 0 20px;
      text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.button {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
}


.firstImage {
    height: 350px;
}

.yes-button {
    height: 40px;
    margin-right: 50px;
}

.intro {
    font-family: 'Coiny', cursive;
    color: black;
}

.changing {
    height: 300px;
}

.text_intro {
    font-size: 35px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}
.yes-button{
	display:none;
}

.no-button{
    display:none;
}
.earthquake{
display:none;
}